<%- include('./partials/head') %> 
    <body>
        <div class="bkground">
            <div class="container">
                <form action="/users/register" method="post">
                    <h1>User registration</h1>
                    <div class="container-input">
                        <label for="name"><i class="fa-solid fa-user"></i></label>
                        <input type="text" name="name" id="name" placeholder="Name">
                    </div>
                    <div class="container-input">
                        <label for="email"><i class="fa-solid fa-envelope"></i></label>
                        <input type="email" name="email" id="email" placeholder="E-mail">
                    </div>
                    <div class="container-input">
                        <label for="password"><i class="fa-solid fa-key"></i></label>
                        <input type="password" name="password" id="password" placeholder="Password">
                    </div>
                    <button type="submit" id="btn-send">Send data</button>
                    <button type="menu" id="btn-back">Back</button>
                </form>
            </div>
        </div>
    </body>
</html>